<h1>
  <%= gravatar_for(@user) %>
  <%= @user.name %>
</h1>

<% unless @current_user == @user %>
  <% if @current_user.is_friend?(@user) %>
    <p>Friendship Status: <%= @current_user.relationship_status(@user) %>(
        <%= link_to "unfriend", @current_user.find_friendship(@user), 
                                method: :delete,
                                data: { confirm: "You sure?"} %>)</p>
  <% else %>
    <span>Not Friends. (<%= render 'friendships/add_friend', user: @user %>)</span>
  <% end %>
<% else %>
  <li><%= link_to("Edit Profile", edit_user_registration_path) %></li>
<% end %>

<p><%= pluralize(@user.posts.count, 'post') %></p>
<p><%= pluralize(@user.comments.count, 'comment') %></p>

<h3><%= @user.name %>'s Posts</h3>

<ul class="profile-posts">
  <% @user.posts.each do |post| %>
    <li>
      <p>Posted <%= link_to "#{time_ago_in_words(post.created_at)} ago", post_path(post) %></p>
      <p><%= post.content %></p>
    </li>
  <% end %>  
</ul>
