<h3><%= @post.user.name %> posted <%= time_ago_in_words(@post.created_at) %> ago:</h3>
<p><%= @post.content %></p>
<% if current_user == @post.user %>
  <%= link_to '(edit post)', edit_post_path(@post) %>
<% end %>

<% if @comments %>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <% if comment.user == current_user %>
          <p><%= link_to 'You', current_user %> said <%= time_ago_in_words(comment.created_at) %> ago.</p>
        <% else %>
         <p><%= link_to comment.user.name, comment.user %> <%= time_ago_in_words(comment.created_at) %> ago.</p>
        <% end %>
        <p><%= comment.content %></p>
      </li>
    <% end %>    
  </ul>
<% end %>

<p><strong>New Comment</strong></p>
<%= render 'comment_form' %>
